#
#
# crownlte Defconfig
#
#
CONFIG_VMPRESSURE_LEVEL_MED=70
# CONFIG_MUIC_UNIVERSAL is not set
# CONFIG_INPUT_TOUCHSCREEN_TCLM is not set
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
# CONFIG_TOUCHSCREEN_SEC_TS is not set
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9018=y
# CONFIG_MFD_MAX77865 is not set
CONFIG_CAMERA_CIS_3M3_OBJ=y
# CONFIG_OIS_USE_RUMBA_S4 is not set
# CONFIG_CAMERA_STAR is not set
# CONFIG_CAMERA_STAR2 is not set
CONFIG_CAMERA_CROWN=y
CONFIG_OIS_USE_RUMBA_S6=y
CONFIG_SUPPORT_DIM_FLASH=y
CONFIG_SELF_MOVE_3PX=y
# CONFIG_FUELGAUGE_MAX77865 is not set
# CONFIG_CHARGER_MAX77865 is not set
CONFIG_WIRELESS_FIRMWARE_65=y
CONFIG_SENSORS_SSP_AK09918=y
CONFIG_SENSORS_SSP_LIGHT_MAX_GAIN_2BYTE=y
# CONFIG_SENSORS_SSP_STAR is not set
CONFIG_SENSORS_SSP_CROWN=y
CONFIG_MACH_EXYNOS9810_CROWNLTE_EUR_OPEN=y
# CONFIG_MACH_EXYNOS9810_STARLTE_EUR_OPEN is not set
# CONFIG_MACH_EXYNOS9810_STAR2LTE_EUR_OPEN is not set