#
#
# star2lte Defconfig
#
#
CONFIG_VMPRESSURE_LEVEL_MED=60
CONFIG_MUIC_UNIVERSAL=y
# CONFIG_MUIC_UNIVERSAL_MAX77854 is not set
CONFIG_MUIC_UNIVERSAL_MAX77865=y
CONFIG_MUIC_HV=y
# CONFIG_MUIC_HV_12V is not set
CONFIG_MUIC_HV_MAX77865=y
CONFIG_INPUT_TOUCHSCREEN_TCLM=y
# CONFIG_INPUT_TOUCHSCREEN_TCLMV2 is not set
CONFIG_TOUCHSCREEN_SEC_TS=y
# CONFIG_TOUCHSCREEN_SEC_TS_Y771 is not set
# CONFIG_INPUT_WACOM is not set
# CONFIG_EPEN_WACOM_W9018 is not set
CONFIG_MFD_MAX77865=y
CONFIG_CAMERA_CIS_3M3_OBJ=y
# CONFIG_OIS_USE_RUMBA_S4 is not set
# CONFIG_CAMERA_STAR is not set
# CONFIG_CAMERA_CROWN is not set
CONFIG_CAMERA_STAR2=y
CONFIG_OIS_USE_RUMBA_S6=y
# CONFIG_SUPPORT_DIM_FLASH is not set
# CONFIG_SELF_MOVE_3PX is not set
CONFIG_LEDS_MAX77865_RGB=y
CONFIG_FUELGAUGE_MAX77865=y
CONFIG_CHARGER_MAX77865=y
# CONFIG_WIRELESS_FIRMWARE_65 is not set
# CONFIG_SENSORS_SSP_AK09918 is not set
# CONFIG_SENSORS_SSP_LIGHT_MAX_GAIN_2BYTE is not set
CONFIG_SENSORS_SSP_STAR=y
# CONFIG_SENSORS_SSP_CROWN is not set
CONFIG_MOTOR_DRV_MAX77865=y

